#search-by {
    margin-top: 2%;
    font-family: 'Noto', arial;
    font-weight: 900;
    text-align: center;
}

#searchbox {
    align-items: center;
}

.searchinput {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid gray;
}

#searchbuttons {
    width: 20%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

#searchbox ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    .label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 62px;
        text-align: right;
    }
    .input-field {
        flex-grow: 7;
    }
}

#zero-items {
    text-align: center;
    font-size: large;
}

.water-img {
    width: 20%;
}

.history-item img {
    margin: 10px;
}

@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 400;
    src: url('../../theme/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf');
}

#geo, #radius {
    font-family: 'Noto', arial;
    font-weight: 900;
}