<ion-header>
  <ion-toolbar>
    <ion-title>Filter Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="default" color="medium" (click)="back()">Back</ion-button>

  <ion-card>
    <div id="search-by">Search By:</div>
    <li id="searchbox" style="list-style: none;">
      <ul>
        <div class="label">Location:</div>
        <div class="input-field">
          <ion-input class="searchinput" id="geo" placeholder="GPS: Lat, Long"></ion-input>
          <ion-input name="location" class="searchinput" id="radius" placeholder="Radius from location"></ion-input>
          <ion-select id="unit" class="searchinput" interface="popover" placeholder="Unit">
            <ion-select-option value="m">m (meters)</ion-select-option>
            <ion-select-option value="km">km (kilometers)</ion-select-option>
            <ion-select-option value="mile">mi (miles)</ion-select-option>
          </ion-select>
        </div>
      </ul>
      <ul>
        <div class="label">Notes:</div>
        <div class="input-field">
          <ion-input class="searchinput" id="notes" placeholder="search by notes"></ion-input>
        </div>
    </ul>
      <ul>
        <div class="label">Tags:</div>
        <div class="input-field">
          <ion-input class="searchinput" id="tags" placeholder="search by tags"></ion-input>
        </div>
      </ul>
    </li>
    <div id="searchbuttons">
      <ion-button expand="default" (click)="search()">Search</ion-button>
      <ion-button expand="default" color="medium" (click)="reset()">Reset</ion-button>
    </div>
  </ion-card>

  <ion-list id="list-element" style="z-index: 1000;">
    <ion-item 
      class="clickable ion-activatable history-item"
      *ngFor="let datum of data"
      (click)="detail(datum.id)">
      <img
        [src]="datum.path"
        alt="img"
        class="water-img">
        <span style="margin:4px;"> id: {{ datum.id }}</span>
        <li>
          <ul>gps: {{ datum.gps }}</ul>
          <ul>date: {{ datum.date }}</ul>
          <ul>result: {{ datum.result }}</ul>
          <ul>notes: {{ datum.notes }}</ul>
          <ul>tags: {{ datum.tags }}</ul>
        </li>
    </ion-item>
  </ion-list>

  <div hidden id="zero-items" style="z-index: -1000;"></div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
