<ion-header>
  <ion-toolbar>
    <img slot="start" src="../../assets/icon/favicon.png">
    <ion-title><h1>Oilix</h1></ion-title>
    <div slot="end" id="spacer"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="default" color="medium" (click)="back()">Back</ion-button>

  <ion-grid>
    <ion-row>
    <!-- <ion-row *ngIf="platform.IOS || platform.ANDROID"> -->
      <ion-col>
        <ion-button title="upload an image locally" expand="block" size="default" (click)="upload()">Image Upload</ion-button>
      </ion-col>
      <ion-col>
        <ion-button title="view past photos" expand="block" size="default" (click)="history()">My Samples</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="admin">
      <ion-col *ngIf="!(platform.IOS || platform.ANDROID)">
        <ion-button title="view past photos of all users" mode="md" expand="block" color="primary" size="default" [disabled]="!admin" (click)="adminList()">All Entries</ion-button>
      </ion-col>
      <ion-col *ngIf="!(platform.IOS || platform.ANDROID)">
        <ion-button title="edit past photo information" mode="md" expand="block" color="primary" size="default"  [disabled]="!admin" (click)="adminInfo()">Update Entries</ion-button>
      </ion-col>
      <ion-col *ngIf="!(platform.IOS || platform.ANDROID)">
        <ion-button title="filter past photos" mode="md" expand="block" size="default" color="primary" [disabled]="!admin" (click)="adminSearch()">Search Entries</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button title="user meta data" expand="block" size="default" color="secondary" (click)="userMeta()">User Profile</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="light" size="default" (click)="logout()">Log Out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>