<ion-header>
  <ion-toolbar>
    <ion-title>adminlog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="default" color="medium" (click)="back()">Back</ion-button>
  <div id="admin-log-container">
    <ion-card id="admin-login-card">
      <ion-card-header>
        <ion-card-title>Log In</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input id="user" placeholder="Username"></ion-input>
        <ion-input id="pass" placeholder="Password" type="password" (keyup.enter)="login_admin()"></ion-input>
        <ion-button expand="block" (click)="login_admin()">Log In as Admin</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
