li {
    list-style-type: none;
}

ion-card-header {
    text-align: center;
    font-size: xx-large;
    color: #3880ff;
}

ion-card {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}