
#success {
    color: gray;
    font-size: large;
}

#spinner-box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 40%;
    width: 50%;
    
    background-color: rgba($color: #5555ff, $alpha: 0.5);
}

#progress {
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

ion-spinner {
    transform: scale(2);
}

@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 400;
    src: url('../../theme/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf');
}

#gps {
    font-family: 'Noto', arial;
}